html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-style: normal;
  margin: 0;
  background-color: #000;
}

img {
  width: 100%;
  display: block;
}

a {
  color: #fff;
  background-color: #444;
}


li:first-child {
  background-color: #e2e2e2;
  border-left: 1px solid #333;
}

li:nth-child(2) {
  background-color: #ccc;
}

li:nth-child(3) {
  background-color: #aaa;
}

li:last-child {
  background-color: #999;
}
