html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-style: normal;
  margin: 0;
  background-color: #ccc;
}

h2 {
  text-align: center;
}

ul {
  padding-left: 2rem;
}

h3 {
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
}

img {
  width: 100%;
  display: block;
}

p {
  max-width: 24rem;
}

a {
  color: #fff;
  background-color: #444;
  padding: .5rem;
  margin: 0 0 1.5rem;
}

li:first-child {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
}

li:first-child img {
  width: 5rem;
  margin: 0;
}

li:nth-child(2) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
}

li:nth-child(2) img {
  width: 5rem;
  margin: 0;
}

li:nth-child(3) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
}

li:nth-child(3) img {
  width: 5rem;
  margin: 0;
}

li:last-child {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
}

li:last-child img {
  width: 5rem;
  margin: 0;
}
